<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-center">
  <ion-card>
    <ion-card-content>
     


      <ion-item>
        <ion-input type="text" placeholder="Enter Username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Enter Password"></ion-input>

      </ion-item>
      <ion-item>
        <ion-button type="submit" (click)="LogIn()" > Login </ion-button>

      </ion-item>

      <ion-item>
        <ion-button type="submit" (click)="Register()" > Register </ion-button>

      </ion-item>


    </ion-card-content>
  </ion-card>
</div>
</ion-content>
